node_modules/
.idea/
dist/presets/
temp/cache_dump.json
temp/log.log
temp/database_dump.json
temp/database_ws_dump.json
cache_dump.json
database_dump.json
database_ws_dump.json
mooncord.log
dist/mooncord.log
temp/

docs/content/site