<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <style>
        .progress-ring {
        
        }
        .progress-ring__circle {
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
        }
    </style>
</head>
<body style="margin:0;height:1080;width:1920">
    <img src="{{overlay}}" style="position:absolute;"/>
    <img src="{{webcam}}" style="height: 100%; width: 100%;"/>
    <div style="font-family: 'Roboto', sans-serif;font-size: 50px;position: absolute;right: 21px;top: 20px;height: 10px;color: white;width: 440px;text-align: right;">Printer ready!</div>
    <div style="font-family: 'Roboto', sans-serif;font-size: 40px;position: absolute;right: 20px;top: 80px;height: 10px;color: white;width: 330px;text-align: right;">{{klipper_version}}</div>
    <div style="font-family: 'Roboto', sans-serif;font-size: 69px;position: absolute;left: 44px;top: 41px;height: 10px;color: white;text-align: center;width: 92;">&#10004;</div>
    <div style="position:absolute;left:20px;top:20px;height:10px">
    <svg
        class="progress-ring"
        width="140"
        height="140">
        <circle
            class="progress-ring__circle"
            stroke="#1fae00"
            stroke-width="10"
            fill="transparent"
            r="62"
            cx="70"
            cy="70"
            id="circle"/>
        </svg>
    </div>
    <script type="text/javascript">
        var circle = document.getElementById('circle');
        var radius = circle.r.baseVal.value;
        var circumference = radius * 2 * Math.PI;

        circle.style.strokeDasharray = `${circumference} ${circumference}`;
        circle.style.strokeDashoffset = `${circumference}`;

        function setProgress(percent) {
            const offset = circumference - percent / 100 * circumference;
            circle.style.strokeDashoffset = offset;
        }
        setProgress(100)
    </script>
</body>
</html>