<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body style="margin:0;height:1080;width:1920">
    <img src="{{webcam}}" style="height: 100%; width: 100%;"/>
    <div style="width: 170px;height: 200px;position: absolute;top: 20px;left: 430px;border-radius: 55px;background-color: #4f0101;"></div>
    <div style="width: 500px;height: 200px;position: absolute;top: 20px;left: 20px;border-radius: 55px;background-color: #343434;"></div>
    <div style="font-family: 'Roboto', sans-serif;font-size: 50px;position: absolute;left: 109px;top: 89px;height: 10px;color: white;text-align: right;">Klipper Offline</div>
    <div style="font-family: 'Roboto', sans-serif;font-size: 69px;position: absolute;left: 514px;top: 84px;height: 10px;color: white;text-align: center;width: 92;"><i class="mdi mdi-exclamation"></i></div>
</body>
</html>