[Unit]
Description=MoonCord
Requires=moonraker.service
After=moonraker.service
StartLimitIntervalSec=0

[Service]
Type=simple
RestartSec=1
User=MC_USER
WorkingDirectory=MC_DIR
ExecStart=MC_NPM run start MC_CONFIG_PATH

[Install]
WantedBy=multi-user.target